@media print {
    @page {
        margin-left:0cm;
        margin-right:0cm;
        margin-top:2cm;
        margin-bottom:2cm;
    } 

    @page {size: landscape}
  @page {size: A4 landscape}
  
  @page{ -webkit-print-color-adjust: exact; }
  
  }
  
    .menu{
        display: none;
    }

    #div-menu{
        display: none;
    }

    .form-label{
        display: none;
    }

    .fa-regular{
        display:none;
    }

    .fa-solid{
        display:none;
    }

    .mini{
        display: none;
    }

    #buscarData{
        display: none;
    }

    #navigation{
        display:none;
    }
    #navigationex{
        display:none;
    }
    .form-check-input{
        display:none;
    }

    .form-check-label{
        display:none;
    }

    .row button{
        display:none;
    }

    #body{
        box-shadow: none;
        border:none;
    }

    .menos table{
        width: 50px;
        background-color: yellowgreen;
    }
  
  #pie-fo{
      display:none;
  }

  table thead{
   display: none;
}


  table, td, th{border: none;}

  table input{
      font-size: 8px;
      background-color: #356967;
      border-collapse: none;
  }

  .show{
      display: block;
  }
  

.antes div{
    display:none;
}

.h3{
    font-weight: bold;
    color: black;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

::-webkit-input-placeholder { /* Edge */
    color: transparent;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: transparent;
  }
  
  ::placeholder {
    color: transparent;
  }

  #tablaruta1 thead{
      display: table-row-group;
  }

  .table thead{
    display: none;
}


#cuerpo1{
    display: block;
}

#cuerpo2{
    display: block;
}

#cuerpo3{
    display: block;
}

#cuerpo4{
    display: block;
}
#cuerpo5{
    display: block;
}