@media print {
    @page {
        margin:0cm;
        margin-top:1cm;
        margin-bottom:1cm;
    } 

    .menu{
        display: none;
    }

    #div-menu{
        display: none;
    }

    .form-label{
        display: none;
    }

    .fa-regular{
        display:none;
    }

    .fa-solid{
        display:none;
    }

    .mini{
        display: none;
    }

    #buscarData{
        display: none;
    }

    #navigation{
        display:none;
    }
    #navigationex{
        display:none;
    }
    .form-check-input{
        display:none;
    }

    .form-check-label{
        display:none;
    }

    .row button{
        display:none;
    }

    #body{
        box-shadow: none;
        border:none;
    }

    .menos table{
        width: 50px;
        background-color: yellowgreen;
    }
  
  #pie-fo{
      display:none;
  }
  table thead{
      background-color: #356967;
      color: azure;
      border-collapse: none;
  }

  table, td, th{border: none;}

  table input{
      font-size: 8px;
      background-color: #356967;
      border-collapse: none;
  }

  .show{
      display: block;
  }
  

.antes div{
    display:none;
}

.h3{
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

  @page {size: landscape}
  @page {size: A4 landscape}
  
  @page{ -webkit-print-color-adjust: exact; }
  
  }